.input {
    width : 100%;
    background-color: rgba(0, 0, 0, 0);
    color: var(--creemy);
    border-radius: 15px;
    padding: 4px 15px 4px 40px;
    border: 2px solid var(--creemy);
    transition: .3s;
    background-image: url('../../../../public/photos/Input/searchIcon.png') ;
    background-repeat: no-repeat;
    background-size: 15px ;
    background-position: 10px center;

}

.input:hover , .input:focus {
    border: 2px solid var(--smoothRed);
}

.input::placeholder{
    color: var(--creemy);
    opacity: .7;
}
