
.box {
    height: 100%;
    position: relative; 
}
.content {
    background-color: rgba(21, 21, 21, 0.5);
    position: absolute;
    height: 100%;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0%;
}

 .play {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: auto;
    transition: all .3s ease-in-out;
    cursor: pointer;
    position: relative;
    background-color: var(--smoothRed) ;

}

.play:hover {
    background: #fff;
    
}

 .play::after,
 .play::before {
    -webkit-animation: video-box-shadow 1600ms ease-in-out 0ms;
    animation: video-box-shadow 1600ms ease-in-out 0ms;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    position: absolute;
    border-radius: 50%;
    transition: transform .3s ease-in-out;
}

.play::after {
    -webkit-animation-delay: 800ms;
    animation-delay: 800ms;
}

@keyframes video-box-shadow {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: .6;
        -webkit-box-shadow: 0 0 0 0 #fff;
        box-shadow: 0 0 0 0 #fff
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: .3;
        -webkit-box-shadow: 0 0 0 4px #fff;
        box-shadow: 0 0 0 4px #fff
    }

    100% {
        -webkit-box-shadow: 0 0 0 8px #fff;
        box-shadow: 0 0 0 8px #fff;
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0
    }
}

