html,
body {
  direction: rtl;
  font-family:  'Noto Naskh Arabic', Arial, Helvetica, sans-serif
 
}

a {
  color: inherit;
  text-decoration: none;


}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
*::selection {
  background-color: rgb(33, 33, 33);
}
